streamlit==0.82.0
subprocess32==3.5.4
numpy==1.19.5
pandas==1.1.5
pandas-gbq==0.15.0
tensorflow==2.4.1
pytorch-lightning==1.2.8
torch==1.7.1
torchmetrics==0.2.0
torchsat==0.0.1
torchvision==0.8.2
torchviz==0.0.2
scikit-image==0.18.1
scikit-learn==0.24.1
plotly==4.14.3
jsonschema==3.2.0
joblib==1.0.1
pillow==8.1.2
fastai==2.2.5
fastcore==1.3.19
colorlover==0.3.0
google-api-core==1.26.3
google-auth-oauthlib==0.4.3
google-auth==1.28.0
google-cloud-bigquery-storage==2.4.0
google-cloud-bigquery==2.6.1
google-cloud-core==1.6.0
google-cloud-storage==1.38.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0